/* General Styles */
body {
    margin: 0;
    font-family: 'B Nazanin', sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 225px;
    background-color: #073B4C;
    color: white;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    overflow-y: auto;
    /* Enable scrolling for the sidebar if needed */
}

.sidebar a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar a:hover {
    background-color: #032631;
    border-radius: 10px;
}

.content {
    margin-right: 220px;
    padding: 15px;
}

.logo-img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

/* Footer */
footer {
    background-color: #073B4C;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Header */
.header--wrapper {
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.header--title {
    color: #143e70;
}

.search--box {
    background: #ededed;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.search--box input {
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 10px;
}

.search--box i {
    cursor: pointer;
    font-size: 1.2rem;
}

/* Chart Container */
.chart-container {
    margin-top: 20px;
    height: 300px;
    max-height: 300px;
}

/* Modal */
.modal .modal-content {
    border-radius: 10px;
}

.btnn {
    background: #073B4C;
    color: white;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.btnn:hover {
    background: #032631;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .content {
        margin-right: 0;
        padding: 10px;
    }

    .header--wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-img {
        width: 150px;
    }
}

/* تغییرات برای محتوای اصلی (content) */
.container {
    margin-right: 225px;
    padding: 15px;
    transition: margin-right 0.3s ease;
}

/* وقتی صفحه کوچک‌تر از 768px باشد، فاصله از بین می‌رود */
@media (max-width: 768px) {
    .container {
        margin-right: 0;
    }
}