body {
    background: linear-gradient(to right, #b2d6dc, #dce0ad);
    /* Soft gradient from light teal to light yellow */
    font-family: 'B Nazanin';
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-container h2 {
    text-align: center;
    color: #073B4C;
}

.form-control {
    height: 45px;
}

.btn-primary {
    background-color: #073B4C;
    border: none;
    font-size: 20px;
    height: 45px;
}

.btn-primary:hover {
    background-color: #032631;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    top: 73%;
    left: 10px;
    transform: translateY(-50%);
}

.text-danger {
    color: red;
    font-size: 13px;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: right;
}

.form-check-label {
    margin-right: 35px;
}